.logo{
    height: 35px;
    width: auto;
    object-fit: cover;
  
  }

  .navigation{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 72px;
    align-items: center;
  }
  .navigation ul{
    list-style: none;
    display: flex;
    gap: 24px;
  }
  
  .navigation ul li{
    text-transform: uppercase ;
  }